---
import Chat from "../components/Chat";
import Footer from "../components/Footer.astro";
import Project from "../components/Project.astro";
import Layout from "../layouts/Layout.astro";

type PinnedRepo = {
  owner: string;
  repo: string;
  description: string;
  language: string;
  languageColor: string;
  stars: number;
  forks: string;
};

const pinnedRepos = await fetch(
  "https://gh-pinned-repos.egoist.dev/?username=rodgetech"
).then(async (response) => {
  return (await response.json()) as PinnedRepo[];
});
---

<Layout title="rodgeTech - home">
  <main class="max-w-4xl m-auto px-4">
    <section class="mb-10">
      <h1 class="text-white text-5xl font-bold">
        Hi, Luis here. <br /> I'm a <span class="text-emerald-500"
          >Software Engineer</span
        >
        <br />from <a
          href="https://en.wikipedia.org/wiki/Belize"
          target="_blank"
          class="underline">Belize, CA.</a
        >
      </h1>
    </section>
    <section
      class="mb-10"
    >
      <div class="flex justify-center items-center">
        <div>
          <p
            class="text-neutral-300 leading-relaxed font-medium text-xl md:text-2xl"
          >
            I'm a self-taught developer with a 🔥 burning passion for all things
            coding and tech. I build web apps and side projects mostly using
            Typescript and React.
          </p>
          <p
            class="text-neutral-300 leading-relaxed font-medium text-xl md:text-2xl mt-2"
          >
            My favorite technologies right now are: <span
              class="text-white font-bold"
              >React.Js, Typescript, tRPC, Rowy, and Vercel.</span
            >
          </p>
        </div>
      </div>
    </section>

    <!-- <section class="mb-12">
      <Chat />
    </section> -->

    <div>
      <h2 class="font-black mb-4 text-3xl text-neutral-400">
        Some stuff I've worked on
      </h2>
      <section
        class="grid grid-cols-1 gap-4 autoy-cols-max sm:grid-cols-2 sm:gap-3"
      >
        {
          pinnedRepos.slice(0, 4).map((repo) => {
            return (
              <Project
                name={repo.repo}
                owner={repo.owner}
                description={repo.description}
                stars={repo.stars}
                language={repo.language}
              />
            );
          })
        }
      </section>
    </div>
    <Footer />
  </main>
</Layout>
