---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Project from "../components/Project.astro";
import Layout from "../layouts/Layout.astro";

type PinnedRepo = {
  owner: string;
  repo: string;
  description: string;
  language: string;
  languageColor: string;
  stars: number;
  forks: string;
};

const pinnedRepos = await fetch(
  "https://gh-pinned.nxl.sh/api/user/rodgetech"
).then(async (response) => {
  return (await response.json()) as PinnedRepo[];
});
---

<Layout title="rodgeTech - home">
  <main class="max-w-3xl m-auto px-4">
    <section
      class="grid grid-cols-1 gap-4 auto-cols-max sm:grid-cols-[90px_2fr] sm:gap-8 mb-12"
    >
      <div>
        <img src="/me.png" class="rounded-md" width="80" />
      </div>
      <div class="flex justify-center items-center">
        <div>
          <p class="text-3xl font-bold text-white mb-3">Hi, Luis here</p>
          <p class="text-neutral-300 leading-relaxed text-lg">
            I'm a self-taught developer with a burning passion for all things
            coding and tech. I like to build cool stuff through the power of
            code. My favorite technologies right now are: <span
              class="underline decoration-dashed decoration-cyan-500 decoration-3 underline-offset-4 text-white"
              >React.Js, Typescript, GraphQL, AWS, and Vercel.</span
            >
          </p>
        </div>
      </div>
    </section>

    <div>
      <h1 class="text-white text-2xl mb-4">Some stuff I've worked on</h1>
      <section
        class="grid grid-cols-1 gap-4 auto-cols-max sm:grid-cols-2 sm:gap-3"
      >
        {
          pinnedRepos.map((repo) => {
            return (
              <Project
                name={repo.repo}
                owner={repo.owner}
                description={repo.description}
                stars={repo.stars}
                language={repo.language}
              />
            );
          })
        }
      </section>
    </div>
    <Footer />
  </main>
</Layout>
